/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$blue : #506dea;
$dark : #4663c1;
$light : #6284ef;
$white : #fff;

$border : 1px solid $dark;

$mono : "inconsolata", monospace;
$sans : "franklin-gothic-urw", Franklin Gothic, verdana, helvetica, arial, sans-serif;

$text-line-height : 1.714285714;
$smaller-text : .9375em;

$pad : 1.3em;
$smallpad : .8em;

%inline-block {
	padding: $pad;
	display: inline-block;
}

::selection {
	background: #FAF20C;
}
::-moz-selection {
	background: #FAF20C;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

body {
	background-color: $blue;
	font-family: $mono;
	font-size: 16px;
	color: $white;
	min-height: 100%;
	position: relative;

	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	width: 100%;
	border-bottom: $border;

	h1 {
		@extend %inline-block;

		background-color: $light;
		border-right: $border;
		border-bottom: $border;
	}

	.count {
		@extend %inline-block;
	}

	.nav {
		@extend %inline-block;
		float: right;
	}
}

.content {
	width: 70%;
	margin: 4em auto 4em;
	overflow: hidden;
	max-width: 960px;
}

.metadata {
	width: 25%;
	margin-right: 5%;
	float: left;

	h3 {
		padding: $smallpad 0;
		border-bottom: $border;
	}
}

.post-container {
	width: 70%;
	float: right;

	h2 {
		padding: $smallpad 0;
		border-bottom: $border;
	}

	a.disabled {
		text-decoration: line-through;
	}

	.post {
		padding: $pad 0;
		font-family: $sans;
		font-size: $smaller-text;
		line-height: $text-line-height;
		border-bottom: $border;
		margin-bottom: $pad;

		a {
			@include transition(background-color .15s ease);
			background-color: $dark;

			&:hover {
				background-color: $light;
			}
		}

		h2, h3 {
			display: inline-block;
			padding: 0;
			margin: $smallpad 0;
			border-bottom: $border;
		}

		ol {
			list-style-type: decimal;
		}
	}

	p {
		margin-bottom: $pad;
		
		&:last-of-type {
			margin-bottom: 0;
		}	
	}

}

.archive {
	width: 100%;
	border-top: $border;
}

.archive-item {
	@include transition(background-color .15s ease);

	padding: $pad $smallpad;
	border-bottom: $border;

	&:hover {
		background-color: $light;
	}

	h3, h4 {
		display: inline-block;
		padding-right: 2em;
	}

	h4:last-of-type {
		padding-right: 0;
		float: right;
	}
}

footer {

	border-top: $border;
	font-size: $smaller-text;

	.reason, .contact {
		@extend %inline-block;
	}

	.contact {
		float: right;

		a {
			display: inline-block;
			margin-left: 2em;
		}
	}
}

@media screen and (max-width: 900px) {
	.metadata {
		width: 100%;
	}

	.post-container {
		width: 100%;

		h2 {
			font-weight: bold;
		}
	}

	.archive-item {
		h3 {
			display: block;
			margin-bottom: 1em;
		}

		h4 {
			padding-right: 1em;
		}

		h4:last-of-type {
			float: none;
		}
	}
}

@media screen and (max-width: 656px) {

	%inline-block {
		padding: $smallpad;
	}
	header, footer {
		font-size: $smaller-text;
	}

	header {
		h1 {
			border-bottom: none;
			content: ".5M";
		}
	}

	.content {
		width: 90%;
	}

	footer {
		.reason, .contact {
			float: left;
		}

		.contact a {
			margin-left: 0;
			margin-right: 1em;
		}

		.contact {
			margin-bottom: 1em;
		}
	}
}