<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

        <script type="text/javascript" src="//use.typekit.net/lzi0viw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Redirect to kevinzweerink.com -->

        <script type="text/javascript">
          if(window.location.hostname === "kevinzweerink.github.io") {
            var path = window.location.pathname;
            var hash = window.location.hash;

            window.location ="http://half-marathon.kevinzweerink.com";
          }
        </script>

    </head>
    <body>

      <header>
        <a href="/"><h1>Half-Marathon</h1></a>
        <div class="count">      
        </div>

        <div class="nav">
          <a href="/archive.html">Archive</a>
        </div>
      </header>

      <div class="content">

       {{ content }}

      </div>

      <footer>
        <div class="reason">
          A dumb training blog.
        </div>
        <div class="contact">
          <a href="http://twitter.com/kevinzweerink">@kevinzweerink</a>
          <a href="http://kevinzweerink.com">kevinzweerink.com</a>
        </div>
      </footer>

    </body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/javascripts/main.js" charset="utf-8"></script>
<script charset="utf-8">
  $(function(){
    var counter = new MileCounter({ mileages : [
        {% for post in site.posts %}{{  post.miles }}{% if forloop.last != true %},{% endif %}{% endfor %}
      ] });
    var metric = new MetricInsertion({ temp : {{ page.temp }}, distance : {{ page.miles }} })
  });
</script>
</html>
