<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

        <script type="text/javascript" src="//use.typekit.net/lzi0viw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Redirect to kevinzweerink.com -->

        <script type="text/javascript">
          if(window.location.hostname === "kevinzweerink.github.io") {
            var path = window.location.pathname;
            var hash = window.location.hash;

            window.location ="http://half-marathon.kevinzweerink.com";
          }
        </script>

    </head>
    <body>
    <div class="wrapper">

      <div class="sidebar">
        <h1>Half-Marathon</h1>
        <!-- <h3>Posts</h3> -->
        <div class="posts">
          <ol>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">Day {{ post.day }}: {{ post.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </div> <!-- /.posts -->

        <div class="reason">
          <p>A dumb training blog from <a href="http://twitter.com/kevinzweerink">@kevinzweerink</a></p>
        </div>
      </div>

      <div class="content">

       {{ content }}

      </div>
    </div>

    </body>
</html>
