---
layout: default
---
<div class="content-inner">
	<h3>Day {{ page.day }}</h3>
	<h2>{{ page.title }}</h2>
	<p class="date">{{ page.date | date_to_string }} &mdash; {{ page.miles }} miles</p>

	<div class="post">
	{{ content }}
	</div>

	<div class="navigation">
		<a class="{% if page.previous.url == null %}disabled{% endif %}" href="{% if page.previous.url != null %}{{ page.previous.url }}{% endif %}">Prev</a>

		<a class="{% if page.next.url == null %}disabled{% endif %}" href="{% if page.next.url != null %}{{ page.next.url }}{% endif %}">Next</a>
	</div>
</div>
