---
layout: default
---
<div class="metadata">
	<h3>Day {{ page.day }}</h3>
	<h3>{{ page.date | date_to_string }}</h3>
	<h3 class="distance">{{ page.miles }} miles</h3>
	<h3 class="temp">{{ page.temp }}&deg;F</h3>
</div>

<div class="post-container">

	<h2>{{ page.title }}</h2>

	<div class="post">
	{{ content }}
	</div>

	<div class="navigation">
		<a class="{% if page.previous.url == null %}disabled{% endif %}" href="{% if page.previous.url != null %}{{ page.previous.url }}{% endif %}">Prev</a> // <a class="{% if page.next.url == null %}disabled{% endif %}" href="{% if page.next.url != null %}{{ page.next.url }}{% endif %}">Next</a>
	</div>
</div>
